#  ~/.exports
#==========================================

export EDITOR="vim"
export HOMEBREW_CASK_OPTS="--appdir=/Applications"
export MANPAGER="less -s -M +Gg" # https://goo.gl/ja41XS
export LESS="-F -i -J -M -R -W -x4 -X -z-4" # https://goo.gl/3ckgeg

# https://goo.gl/wD9v2g
export LESS_TERMCAP_mb=$'\E[1;31m'     # begin bold
export LESS_TERMCAP_md=$'\E[1;36m'     # begin blink
export LESS_TERMCAP_me=$'\E[0m'        # reset bold/blink
export LESS_TERMCAP_so=$'\E[01;44;33m' # begin reverse video
export LESS_TERMCAP_se=$'\E[0m'        # reset reverse video
export LESS_TERMCAP_us=$'\E[1;32m'     # begin underline
export LESS_TERMCAP_ue=$'\E[0m'        # reset underline

# color setup for gnu `ls` | http://github.com/trapd00r/LS_COLORS
command -v gdircolors >/dev/null 2>&1 || alias gdircolors="dircolors"
eval "$(gdircolors -b ~/.dircolors)" # exports LS_COLORS

# PATH SETUP
PATH=$HOME/.bin:$PATH
export PATH
