# ~/.functions for macOS and Ubuntu
# =================================

function serve() {
  PORT=${1:-8000}
  http-server -c-1 -o -p "$PORT"
}

# Create a new directory and enter it
function mkd() {
  mkdir -p "$@" && cd "$_";
}

# find shorthand
function f() {
  find . -name "$1" 2>&1 | grep -v 'Permission denied'
}

# Create a new git repo with one README commit and CD into it
function gitnr() {
  mkdir $1; cd $1; git init; touch README; git add README; git commit -mFirst-commit;
}

# Use Mac OS Preview to open a man page in a more handsome format
function manp() {
  man -t $1 | open -f -a /Applications/Preview.app
}

# Show normally hidden system and dotfile types of files
# in Mac OS Finderbvvcvcvx cvxcvx
function showdotfiles() {
  defaults write com.apple.finder AppleShowAllFiles -bool true
  osascript -e 'tell application "Finder" to quit'
  sleep 0.25
  osascript -e 'tell application "Finder" to activate'
}

# Hide (back to defaults) normally hidden system and dotfile types of files
# in Mac OS Finder
function hidedotfiles() {
  defaults write com.apple.finder AppleShowAllFiles -bool false
  osascript -e 'tell application "Finder" to quit'
  sleep 0.25
  osascript -e 'tell application "Finder" to activate'
}

## output directory/file tree, excluding ignorables
function tre(){
  tree -aC -I '.git|node_modules|bower_components|.DS_Store' --dirsfirst "$@"
}

function weather() {
  curl wttr.in/$1
}

function ipinfo(){
  curl ipinfo.io/$1
}

# Get local IP address
function myip() {
  ifconfig | \
    sed -En 's/127.0.0.1//;s/.*inet (addr:)?(([0-9]*\.){3}[0-9]*).*/\2/p'
}

function hideDesktop() {
  defaults write com.apple.finder CreateDesktop -bool false
  osascript -e 'tell application "Finder" to quit'
  sleep 0.25
  osascript -e 'tell application "Finder" to activate'
}

function showDesktop() {
  defaults write com.apple.finder CreateDesktop -bool true
  osascript -e 'tell application "Finder" to quit'
  sleep 0.25
  osascript -e 'tell application "Finder" to activate'
}
