# working files
.vim/swaps/*
.vim/undo
.vim/.netrwhist
.vim/.viminfo

# git credential file
.gitconfig.local

# node
npm-debug.log
node_modules

# macOS
.DS_Store
.Spotlight-V100
.Trashes

# secrets
.env

.vim/bundle/
