#  ~/.exports
#==========================================

#export JAVA_HOME=$(/usr/libexec/java_home)
export NVM_DIR=$HOME/.nvm
export DOTFILES=$HOME/.dotfiles
export DROPBOX=$HOME/Dropbox
export HOMEBREW_CASK_OPTS='--appdir=/Applications'
export EDITOR='vim' # default editor

# https://wiki.archlinux.org/index.php/Color_output_in_console#man
export LESS_TERMCAP_mb=$'\e[1;31m'     # begin bold
export LESS_TERMCAP_md=$'\e[1;33m'     # begin blink
export LESS_TERMCAP_so=$'\e[01;44;37m' # begin reverse video
export LESS_TERMCAP_us=$'\e[01;37m'    # begin underline
export LESS_TERMCAP_me=$'\e[0m'        # reset bold/blink
export LESS_TERMCAP_se=$'\e[0m'        # reset reverse video
export LESS_TERMCAP_ue=$'\e[0m'        # reset underline
export GROFF_NO_SGR=1                  # for konsole and gnome-terminal

# vim as manpager | https://zameermanji.com/blog/2012/12/30/using-vim-as-manpager/
#export MANPAGER="/bin/sh -c \"col -b | vim -c 'set ft=man ts=8 nomod nolist nonu noma' -\""
export MANPAGER='less -s -M +Gg'

PATH=$HOME/bin:$PATH
#PATH=$JAVA_HOME/bin:$PATH
PATH=$HOME/nand2tetris/tools:$PATH
export PATH
