# ~/.functions for macOS and Ubuntu
# =================================

#source $DOTFILES/lib/colors

# Create a new directory and enter it
function md() {
  mkdir -p "$@" && cd "$@"
}


# Get local IP address
function myip() {
    ifconfig | \
    sed -En 's/127.0.0.1//;s/.*inet (addr:)?(([0-9]*\.){3}[0-9]*).*/\2/p'
}


function server() {
    open http://localhost:8000 && http-server -p 8000
}


# find shorthand
function f() {
  find . -name "$1" 2>&1 | grep -v 'Permission denied'
}


# cd into whatever is the forefront Finder window.
function cdf() { 
  cd "`osascript -e 'tell app "Finder" to POSIX path of (insertion location \
    as alias)'`"
}


# url shortener (relies on environment variables in ~/.extra)
function bitlify() {
  if [[ $# < 1 ]]; then 
    echo "You must supply a URL."
    return 1
  fi

  a="curl -s https://api-ssl.bitly.com/v3/shorten?access_token="
  b="&format=txt&longUrl="

  short="$(${a}${BITLY_ACCESS_TOKEN}${b}${1})"

  # copy the shortened url to the clipboard on macOS
  if command -v pbcopy >/dev/null 2>&1; then
    clipboard="pbcopy"
  fi

  if [[ -v clipboard ]]; then 
      echo $short | $clipboard
  fi
  
  echo "Short URL: ${underline}${green}$short${normal}"
}


# give iTerm tab a title ($title this is tab title)
function title {
    echo -ne "\033]0;"$*"\007"
}


# http://bit.ly/2eVbvrD
# convert an hex color value to nearest 0-255 color index
# $ fromhex 00fc7b // 048
# $ tohex 125 // dec= 125 color= #af005f
fromhex(){
    hex=${1#"#"}
    r=$(printf '0x%0.2s' "$hex")
    g=$(printf '0x%0.2s' ${hex#??})
    b=$(printf '0x%0.2s' ${hex#????})
    printf '%03d' "$(( (r<75?0:(r-35)/40)*6*6 + 
    (g<75?0:(g-35)/40)*6   +
    (b<75?0:(b-35)/40)     + 16 ))"
}

tohex(){
    dec=$(($1%256))   ### input must be a number in range 0-255.
    if [ "$dec" -lt "16" ]; then
        bas=$(( dec%16 ))
        mul=128
        [ "$bas" -eq "7" ] && mul=192
        [ "$bas" -eq "8" ] && bas=7
        [ "$bas" -gt "8" ] && mul=255
        a="$((  (bas&1)    *mul ))"
        b="$(( ((bas&2)>>1)*mul ))" 
        c="$(( ((bas&4)>>2)*mul ))"
        printf 'dec= %3s basic= #%02x%02x%02x\n' "$dec" "$a" "$b" "$c"
    elif [ "$dec" -gt 15 ] && [ "$dec" -lt 232 ]; then
        b=$(( (dec-16)%6  )); b=$(( b==0?0: b*40 + 55 ))
        g=$(( (dec-16)/6%6)); g=$(( g==0?0: g*40 + 55 ))
        r=$(( (dec-16)/36 )); r=$(( r==0?0: r*40 + 55 ))
        printf 'dec= %3s color= #%02x%02x%02x\n' "$dec" "$r" "$g" "$b"
    else
        gray=$(( (dec-232)*10+8 ))
        printf 'dec= %3s  gray= #%02x%02x%02x\n' "$dec" "$gray" "$gray" "$gray"
    fi
}

function dotfilelink() {
  ln -sv $DOTFILES/symlink/"$@" ~/"$@"
}
